name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  quality-checks:
    name: Quality Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "latest"
          cache: true

      - name: Install golangci-lint
        run: make install-lint

      - name: Run make
        run: make

      - name: Upload build artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: diploma-executable
          path: diploma.exe
          retention-days: 7
